#Navigation {
	position: relative;
	display: block;
	width: 1350px;
	height: auto;
	min-height: 1px;
	margin: 0 auto;
}

#Navigation .inner {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	margin-top: 40px;
}
#Navigation .inner:after {
	clear: both;
	display: block;
	content: "";
}
#Navigation .inner .navigation_map {
	float: left;
	width: 960px;
	height: 640px;
	box-sizing: border-box;
	border: 2px solid #23427e;
	position: relative;
}

#Navigation .inner .navigation_map>div {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

#Navigation .inner .map_search {
	float: left;
	width: 389px;
	height: auto;
	position: relative;
	box-sizing: border-box;
	padding-left: 9px;
}

#Navigation .inner .map_search .map_search_inner {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	min-height: 10px;
	background: #f2f2f2;
	border: 1px solid #23427e;
}
.map_search_inner .m_s_Top {
	position: relative;
	display: block;
	width: 100%;
	height: 47px;
	font-size: 0;
	text-align: center;
	background-image: url(/images/common/navi_top_bg.png);
	background-position: left 0 center;
	background-repeat: repeat-x;
	border-right: 2px solid #4c5876;
	border-left: 2px solid #4c5876;
	box-sizing: border-box;
}
.map_search_inner .m_s_Top h3 {
	
	font-size: 14px !important;
	color: #fff !important;
	line-height: 47px;
	font-weight: 600 !important;
	
}

.map_search_box {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}


.map_sub_title {
	position: relative;
	display: block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #6da8f6;
	font-size: 0;
	color: #fff;
	box-sizing: border-box;
	padding: 0 15px;
}
.map_sub_title .map_sub_title_p01 {
	font-size: 16px;
	display: inline-block;
	font-weight: 600;
}
.map_sub_title .map_sub_title_p02 {
	font-size: 12px;
	display: inline-block;
	padding-left: 10px;
}

.map_select_div {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 15px;
}
.map_select_div .sub_select.map_sub_select{
	background-color: #fff;
	height: 35px;
}



.area_div {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

.area_div .area_top_text {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 15px;
}
.area_div .area_top_text p {
    zoom: 1;
    font-size: 12px;
    color: #333;
    margin: 0 0 1px 0;
	font-weight: 700;
}


.area_list {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
}
.area_list>ul {
	position: relative;
	display: block;
	width: calc(100% - 1px);
	height: 169px;
	overflow-y: scroll;
	overflow-x: hidden;
	margin-top: -1px;
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;
	background-color: #fff;
}
.area_list>ul:after {
	clear: both;
	content: "";
	display: block;
}

.area_list>ul li {
	float: left;
	width: 33.333%;
	height: 28px;
	text-align: center;
	line-height: 28px;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	color: #626262;
	background: #fff;
	box-sizing: border-box;
	position: relative;
}

.area_list>ul li>a {
    display: block;
    width: 100%;
    height: 28px;
    letter-spacing: -0.3px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
	font-size: 13px;
}
.area_list>ul li>a:hover {
    color: #23427e;
    font-weight: bold;
    text-decoration: none;
}


div.area_selection {
	float: left;
	width: calc(100% - 1px);
	height: 45px;
	line-height: 45px;
	background-color: #fff;
	box-sizing: border-box;
	padding: 0 20px 0 40px;
	position: relative;
	text-align: left;
	border-top: 1px solid #ccc;
	background-image: url(/images/common/map_point.png);
	background-size: 13px;
	background-position: left 16px center;
	background-repeat: no-repeat;
}

div.area_selection:after {
	clear: both;
	content: "";
	display: block;
}


div.area_selection p {
	float: left;
	display: inline-block;
	font-size: 14px;
	color: #111;
	font-weight: 700;
}
div.area_selection .button_div {
	float: right;
	display: inline-block;
	position: relative;
}
div.area_selection a {
	font-size: 10px;
	width: auto;
	padding: 4px 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
}
div.area_selection a:hover {
	font-weight: bold;
}

.area_search_btn {
	position: relative;
	display: block;
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 0;
	background-color: #fff;
	text-align: center;
}
.area_search_btn input{
    -webkit-appearance: none;
    -safari-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
	width: 115px;
	height: 32px;
	line-height: 30px;
	vertical-align: middle;
	box-sizing: border-box;
	padding: 0;
	border-radius: 3px;
	/* background-color: #23427e; */
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	/* border: 1px solid #2e5297; */
	border: 0 !important;
	cursor: pointer;
	background: #2d54a3; /* Old browsers */
	background: -moz-linear-gradient(top,  #2d54a3 0%, #23427e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #2d54a3 0%,#23427e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #2d54a3 0%,#23427e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d54a3', endColorstr='#23427e',GradientType=0 ); /* IE6-9 */
}


.area_search_btn input:active {
	margin-top: 1px;
	margin-left: 1px;
}




.map_search_result {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	/* overflow-x: hidden;
	overflow-y: scroll; */
	height: 591px;
	background: #fff;
	overflow: hidden;
}

.m_result_top {
	background: #f2f2f2;
	position: relative;
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 0;
	box-sizing: border-box;
	padding: 0 10px 0 10px;
}

.m_result_top>p{
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	color: #000;
	vertical-align: middle;
}
.m_result_top>span{
	display: inline-block;
	font-size: 15px;
	font-weight: 700;
	color: #ff0000;
	vertical-align: middle;
	padding-left: 5px;
}


.result_list_div {
	position: relative;
	display: block;
	width: 100%;
	height: 540px;
	background: #fff;
	overflow-x: hidden;
	overflow-y: scroll;
}

.result_list_div .result_list {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 14px 0 14px 50px;
	line-height: normal;
	background-image: url(/images/common/map_point.png);
	background-position: left 15px top 15px;
	background-repeat: no-repeat;
	background-size: 22px;
	cursor: pointer;
	background-color: #fff;
	margin-bottom: 15px;
}
.result_list_div .result_list:last-child {
	margin-bottom: 0;
}

.result_list_div .result_list:hover {
	background-color: #f1f5fb;
}

.result_list_div .result_list:hover .result_title {
	color: #6da8f6 !important;
}

.result_list_div .result_list ul {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}

.result_list_div .result_list ul>li {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	font-size: 0;
	margin-bottom: 10px;
}

.result_list_div .result_list ul>li:last-child {
	margin-bottom: 0;
}

.result_list_div .result_list ul>li span.result_title {
	color: #000;
	font-weight: 700;
	font-size: 16px;
}

.result_list_div .result_list ul>li span {
	color: #000;
	vertical-align: middle;
	font-size: 12px;
	margin-right: 5px;
	color: #333;
}

.result_list_div .result_list ul>li span:last-child {
	margin-right: 0px;
}

.result_reset_btn {
	right: 35px !important;
	top: 11px !important;
}

.result_reset_btn:active span {
	font-weight: 700 !important;
}



.map_point_text {
	position: relative;
	display: inline-block;
	padding: 8px 17px;
	max-width: 180px;
	background: #fff;
	border: 1px solid #ccc;
	box-sizing: border-box;
	line-height: normal;
	font-size: 0;
}

.map_point_text>p{
	font-size: 14px;
	color: #111;
	font-weight: 500;
}


.map_point_info {
	position: relative;
	display: block;
	width: 345px;
	height: auto;
	/* height: 230px; */
	box-sizing: border-box;
	border: 1px solid #4f7ca3;
	background: #fff;
}
.map_point_info .m_point_name {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	line-height: noraml;
	font-size: 0;
	box-sizing: border-box;
	padding: 3px 3px 0px 3px;
}
.map_point_info .m_point_name>h3{
	display: block;
	width:100%;
	min-height: 40px;
	padding-top: 12px;
	padding-left: 10px;
	padding-right: 40px;
	box-sizing: border-box;
	font-size: 16px !important;
	font-weight: 700 !important;
	background: #f2f2f2;
}

.m_point_close {
	position: absolute;
	display: block;
	width: 22px;
	height: 22px;
	background: url(/images/common/m_point_close.png)no-repeat center center;
	right: 13px;
	top: 12px;
	z-index: 9;
	cursor: pointer;
}

.m_point_info_box {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	padding: 10px 15px 10px 15px;
}

.m_point_info_box_inner {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
}
.m_point_info_box_inner p {
	font-size: 13px;
	font-weight: 400;
	color: #111;
	margin-bottom: 8px;
}
.m_point_info_box_inner p:last-child {
	margin-bottom: 0;
}
.m_point_info_box_inner p.address2 {
	color: #666;
}
.m_point_info_box_inner a {
	font-size: 13px;
	font-weight: 400;
	color: #111;
	padding-bottom: 8px;
	box-sizing: border-box;
	display: inline-block;
}

.map_point_info .m_point_btns {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0 15px;
	font-size: 0;
	box-sizing: border-box;
	margin-top: 4px;
	padding-bottom: 10px;
}

.map_point_info .m_point_btns:after {
	display: block;
	clear: both;
	content: "";
}

.map_point_info .m_point_btns .m_p_share_btn {
	float: right;
	width: 19px;
	height: 19px;
	background-size: 62px;
	background-image: url(/images/common/map_info-icon.png);
	background-repeat: no-repeat;
	background-position: left 0 top 0;
	margin-right: 23px;
}
.map_point_info .m_point_btns .m_p_print_btn {
	float: right;
	width: 20px;
	height: 19px;
	background-size: 62px;
	background-image: url(/images/common/map_info-icon.png);
	background-repeat: no-repeat;
	background-position: left -42px top 0;
	margin-right: 10px;
}

/* map_info-icon.png   */

























